<% include ./includes/header.ejs %>
<link rel='stylesheet' href='/stylesheets/chat_app.css' />

<body class="light-theme">

  <button id="people_online_nav_button" class="btn btn-primary"><i class="far fa-grin-beam"></i>&nbsp;&nbsp;&nbsp;People Online</button>

  <!-- START -- System interface -->
  <div class="row d-none d-sm-flex">
    <div class="col-sm-3">
        <a href="/" class="btn btn-primary"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back to rooms</a>
    </div>
    <div class="col-sm-6 room_name" id="room_name">
      <h4><%= room_name %></h4>
    </div>
    <div class="col-sm-3 right-position">
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#logout_prompt">Logout&nbsp;&nbsp;<i class="fas fa-sign-out-alt"></i></button>
    </div>
  </div>
  <!-- END -- System interface -->

  <!-- START -- Mobile interface -->
  <div class="row d-block d-sm-none">
    <div class="row xs_margin_bottom">
      <div class="col-6">
          <a href="/" class="btn btn-primary xs_width_100"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back to rooms</a>
      </div>
      <div class="col-6 right-position">
        <button type="button" class="btn btn-danger xs_width_100" data-toggle="modal" data-target="#logout_prompt">Logout&nbsp;&nbsp;<i class="fas fa-sign-out-alt"></i></button>
      </div>
    </div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10 room_name" id="room_name">
        <h4><%= room_name %></h4>
      </div>
      <div class="col-1"></div>
    </div>
  </div>
  <!-- END -- Mobile interface -->

  <div class="container-fluid chat-area-light" id='message_area'>
  </div>

  <input type="hidden" id="hidden_room_id" value="<%= room_id %>">
  <input type="hidden" id="hidden_user" value="<%= user %>">

  <!-- Message Area (Text input and send button) -->
  <div class="message-box-div">
    <div class="input-group">
      <div class="input-group-prepend">
        <button class="btn btn-lg btn-dark" data-toggle="tooltip" data-placement="top" title="Switch to dark theme!" id="dark_light" aria-describedby="dark_light_sr"><i id="dark_light_icon" class="far fa-moon"></i></button>
      </div>
      <input type="text" class="form-control form-control-lg" id="chat_message" placeholder="Hey <%= user %>! Type your message!" aria-describedby="chat_message_sr" required>
      <div class="input-group-prepend">
        <button class="btn btn-lg btn-primary send-button" id="send_msg">Send&nbsp;&nbsp;<i class="fab fa-telegram-plane" aria-hidden="true"></i></button>
      </div>
      <p id="chat_message_sr" hidden>Enter your message here</p>
      <p id="dark_light_sr" hidden>Switch between light mode or dark mode</p>
    </div>
  </div>
</body>

<% include ./includes/logout.ejs %>
<% include ./includes/footer.ejs %>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/push.js/1.0.12/push.min.js"></script>
<script src="/javascripts/chat_app.js"></script>

<% include ./side_nav.ejs %>

</html>